<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test Video Player</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
    }
  </style>
</head>
<body>
    <div id="player" style="width: 600px;height: 400px;"></div>
    <script src="https://bradm.ax/build/202503/19/b9f452bea46b418bb35907a91d0e817dc0c03679/player.js" type="text/javascript" data-bs-parent-id="player" data-bs-variables="eyJkYXRhUHJvdmlkZXIiOnsic291cmNlIjpbeyJ1cmwiOiJodHRwczovL2JyYWRtYXguY29tL3N0YXRpYy92aWRlby90ZWFyc19vZl9zdGVlbC5tcDQifV0sInRpdGxlIjoiVGVhcnMgb2Ygc3RlZWwiLCJkdXJhdGlvbiI6NzM0LjA5NzQxNSwic3BsYXNoSW1hZ2VzIjpbeyJ1cmwiOiJodHRwczovL2JyYWRtYXguY29tL3N0YXRpYy9pbWFnZXMvc3RhcnRzcGxhc2guanBnIn1dfX0="></script>
</body>
</html>